#! To ignore files in the root directory and node_modules directory

node_modules/
config.env

middlewares/dataCleanup.js

middlewares/imageUrlBuilderMiddleware.js

middlewares/checkIsActiveValue.js

middlewares/corsOptions.js

generate_commit.py

postman