#! To ignore files in the root directory and node_modules directory

node_modules/
config.env
middlewares/dataCleanup
middlewares/imageUrlBuilderMiddleware
middlewares/checkIsActiveValue
middlewares/corsOptions